# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Table of data science tools
- Arithmetic Operations

Some of the popular languages that Data Scientist use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
--------------------
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Brian